{% extends 'base.html' %}

{% block body%}
<body class = 'bg-image'>
{% endblock %}

{% block content %} 
<br><br><br><br><br><br>

<div class = "col-6 offset-3">
    <div class = "card text-center">
        <h2 class = "card-header">Delete Trip</h2>
        <h3>Are you sure you want to delete your <span>{{ object.name }}</span> trip?</h3>
        <form action="" method="POST">
            {% csrf_token%}
            <input type="submit" value="Yes - Delete!" class="btn btn-danger">
            <a href="/trips/">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
    <div class="home-footer card-footer text-muted">
{% endblock %}
