{% extends 'base.html' %} {% load static %} {% block body%}
<body class="bg-image">
  {% endblock %} {% block content %}

  <div class="col-6 offset-3">
    <div class="box">
      <h2>About Triplaner</h2>
      <p>
        Let’s face it, traveling can be incredibly expensive, and it’s hard to
        know what destinations are even available to you on your budget. Enter
        Triplaner, a full-service travel planning app that matches you with
        flights and hotels based on your travel budget. Whether you’re planning
        a romantic getaway, a family vacation, or just need a weekend escape,
        Triplaner is the app for you -- any budget, any time.
      </p>
    </div>
  </div>

  {%endblock%} {% block footer %}
  <div class="home-footer card-footer text-muted">
    {% endblock %}
  </div>
</body>
